@model Dissertation.Areas.Member.Models.ItemCategoryViewModel

@{
    ViewData["Title"] = "Edit Item";
}

<h1 class="text-center">Edit Item</h1>
<hr />
<div class="row">
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong light-blue-card" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            @*Displays a form asking the user to re-enter all information*@
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                <h2>Edit item</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group mt-2">
                                    <label asp-for="Item.Name" class="control-label"></label>
                                    <input asp-for="Item.Name" class="form-control" />
                                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-2">
                                    <label asp-for="Item.Description" class="control-label"></label>
                                    <input asp-for="Item.Description" class="form-control" />
                                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-2">
                                    <label asp-for="Item.MaxDays" class="control-label"></label>
                                    <input asp-for="Item.MaxDays" class="form-control" />
                                    <span asp-validation-for="Item.MaxDays" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="control-label">Postcode</label>
                                    <input name="postcode" id="postcode" class="form-control" />
                                    <span class="text-danger">@Html.ValidationMessage("Postcode")</span>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="control-label"></label>
                                    <select class="form-control form-select" name="categoryOption" id="categoryOption">
                                        <option value="">Select a category</option>
                                    </select>
                                    <span class="text-danger" @Html.ValidationMessage("Category")</span>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="control-label">Upload Image</label>
                                    <input type="file" accept=".jpg, .jpeg, .png, .webp" name="imageFile" class="form-control" />
                                    <span class="text-danger">@Html.ValidationMessage("ImageFile")</span>
                                </div>
                                <div class="form-group mt-4">
                                    <input type="submit" value="Edit" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-danger 1-75">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/geolocation.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script>
        getLocation().then(postalCode => {
            document.getElementById('postcode').value = postalCode;
        })

        const categoryOption = document.getElementById('categoryOption');

        $.ajax({
            type: "GET",
            url: "/Member/Item/GetItemCategories",
            success: function (categories) {
                console.log(categories)
                const optionOne = categories.shift();
                categories.forEach(category => {
                    const option = document.createElement('option');
                    option.value = category.id;
                    option.innerText = category.name;
                    categoryOption.appendChild(option);
                });
                const option = document.createElement('option');
                option.value = optionOne.id;
                option.innerText = optionOne.name;
                categoryOption.appendChild(option);
            },
            error: function () {
                alert("Error loading categories.");
            }
        });
    </script>
}