@using Microsoft.AspNetCore.Identity
@using Dissertation.Areas.Member.Models
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model IEnumerable<Request>

@{
    ViewData["Title"] = "Requests";
	string userId = "";
}

@if (signInManager.IsSignedIn(User))
{
	userId = userManager.GetUserId(User);
}

<h1>Requests</h1>

<div class="container">
	@foreach (var request in Model)
	{
		<div class="row">
			<a asp-area="Member" asp-controller="Chat" asp-action="Message" asp-route-id="@request.RenterId">
				<div class="chat-box">
					<div class="col">
						<div class="chat-item-content">
							@if (request.RenterId == userId)
							{
								<p style="margin-bottom: 0" class="chat-card-text">Chat with: @request.Renter.UserName</p>
							}
							else
							{
								@* <p style="margin-bottom: 0" class="chat-card-text">Chat with: @request.UserOne.UserName</p> *@
							}
						</div>
					</div>
					<div class="col">
						<div class="chat-item-content">
							@* @if (@chat.Notification.SenderId != userId && !@chat.Notification.RecipientRead)
							{
								<p style="margin-bottom: 0" class="chat-card-text chat-notification-text">New messages</p>
							}
							else
							{
								<p style="margin-bottom: 0" class="chat-card-text">No new messages</p>
							} *@
						</div>
					</div>
				</div>
			</a>
		</div>
	}
</div>