@using Dissertation.Areas.Member.Models
@model ChatUserViewModel

@{
    ViewData["Title"] = "Item Details";
}

<div class="container messages" id="chat-messages">
    <div class="row p-1">
        <div id="messagesList" class="mt-3"></div>
    </div>
    <div class="message-input mt-3 send-message-border" style="">
        <input class="form-control send-message-input" id="messageInput" placeholder="Message..." />
        <button class="message-image-button" id="messageImageButton" onclick="inputImageWindow()">
			<img src="~/images/site-content/icons8-image-96.png" class="message-image-button-img" alt="Send image" />
        </button>
        <input type="file" hidden accept=".jpg, .jpeg, .png, .webp" id="imageInput" class="image-input" />
        <button class="send-message-button" id="sendButton" type="submit">
            <img src="~/images/site-content/icons8-send-message-96.png" class="send-message-buttom-img" alt="Send message" />
        </button>
    </div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var chatId = @Model.Chat.Id;
        var currentUserName = '@Model.User.UserName';
    </script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/load-messages.js"></script>
    <script src="~/js/chat.js"></script>
}