@using Dissertation.Areas.Member.Models
@model ChatUserViewModel

@{
    ViewData["Title"] = "Item Details";
}

<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="submit" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <input type="submit" id="loadPrevious" onclick="loadMessages()" value="Load more messages" />
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script>
    var chatId = @Model.Chat.Id;
    var user = '@Model.User.UserName';
</script>
<script src="~/js/jquery-3.7.1.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/load-messages.js"></script>
<script src="~/js/chat.js"></script>