@model Dissertation.Models.Item

@{
    ViewData["Title"] = "Message User";
}

<form asp-action="InitiateChat" method="post">
    <div class="container">
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" name="messageContent" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="submit" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</form>