@model Dissertation.Models.Item

@{
    ViewData["Title"] = "Message User";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong light-blue-card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form asp-action="InitiateChat" asp- method="post">
                        <div class="mb-5">
                            You haven't talked with this person yet.
                            <br />
                            Why not send them a message?
                        </div>
                        <div class="form-floating">
                            <div>
                                <input type="text" class="w-100 mb-3 text-center" style="border-radius: 8px;" id="messageInput" placeholder="Message..." name="messageContent" />
                            </div>
                        </div>
                        <div class="form-floating">
                            <div>
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="submit" id="sendButton" class="btn btn-success" value="Send Message" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>